
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/input.css') }}">
  

</head>

<h1 id="main-header">{{cars[1].make}}</h1> <!--Company 1. Use listname[element#].quality to access the string-->

<h2>Overview:</h2>
<div style="background-color: rgb(81, 211, 204) ; padding: 10px;">
  <p>Overall Average Rating: 38.8/10</p>
<p style="margin-left: 40px">{{cars[1].model}}: 38.8/10</p>
<p style="margin-left: 40px">{{cars[1].color}}: 38.8/10</p>
<p style="margin-left: 40px">{{cars[1].year}}: 38.8/10</p>

</div> 


<h3>{{cars[1].model}} **Replace with first standard**</h3> <!--Standard 1-->
<div style="background-color:rgb(231, 230, 230) ; padding: 10px;">
  Average Rating: 38.8/10
</div> 
<br />
<!--Probably need to loop through whatever the variable will be to print every box-->
<!--Example 1-->
<div style="background-color:rgb(231, 230, 230) ; padding: 10px;">
  Position: (position at company)<br />
  Years at company: (yrs at company) <br />
  Rating: (x/10)
</div> 
<div style="background-color: white ; padding: 10px;">
  Message:
  stuff <br />
  <span style="padding-left: 10px;"> stuff <br />
  <span style="padding-left: 20px;"> stuff <br />
  <span style="padding-left: 30px;"> stuff <br />
  <span style="padding-left: 40px;"> stuff 
</div>
<br />
<!--Example 2-->
<div style="background-color:rgb(231, 230, 230) ; padding: 10px;">
  Position: CEO<br />
  Years at company: 18 <br />
  Rating: 69/10
</div> 
<div style="background-color: white ; padding: 10px;">
  Message: <br />
  “In order to make our cars affordable, we have to get smarter about how we spend money,” Musk said. “This is a tough Game of Pennies, requiring thousands of good ideas to improve part cost, a factory process, or simplify the design while increasing quality and capabilities. A great idea would be one that saves $5, but the vast majority are $0.50 here or $0.20 there. In order to make the electric revolution happen, we must make electric cars, stationary batteries and solar affordable to all.”
</div>
<br />
<!--Example 3-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Position: Co-founder<br />
  Years at company: 23 years <br />
  Rating: 8.5/10
</div> 
<div style="background-color: white ; padding: 10px;">
  Message:<br />
  BackRub is written in Java and Python and runs on several Sun Ultras and Intel Pentiums running Linux. The primary database is kept on a Sun Ultra series II with 28GB of disk. Scott Hassan and Alan Steremberg have provided a great deal of very talented implementation help. Sergey Brin has also been very involved and deserves many thanks.
</div>
<br />

<h3>{{cars[1].color}} **Replace with second standard**</h3> <!--Standard 2-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Average Rating: 38.8/10
</div> 
<br />
<!--Probably need to loop through whatever the variable will be to print every box-->
<!--Example 1-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Position: (position at company)<br />
  Years at company: (yrs at company) <br />
  Rating: (x/10)
</div> 
<div style="background-color: white ; padding: 10px;">
  Message:
  stuff <br />
  <span style="padding-left: 10px;"> stuff <br />
  <span style="padding-left: 20px;"> stuff <br />
  <span style="padding-left: 30px;"> stuff <br />
  <span style="padding-left: 40px;"> stuff 
</div>
<br />
<!--Example 2-->
<div style="background-color:rgb(231, 230, 230) ; padding: 10px;">
  Position: CEO<br />
  Years at company: 18 <br />
  Rating: 69/10
</div> 
<div style="background-color: white ; padding: 10px;">
  Message: <br />
  “In order to make our cars affordable, we have to get smarter about how we spend money,” Musk said. “This is a tough Game of Pennies, requiring thousands of good ideas to improve part cost, a factory process, or simplify the design while increasing quality and capabilities. A great idea would be one that saves $5, but the vast majority are $0.50 here or $0.20 there. In order to make the electric revolution happen, we must make electric cars, stationary batteries and solar affordable to all.”
</div>
<br />
<!--Example 3-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Position: Co-founder<br />
  Years at company: 23 years <br />
  Rating: 8.5/10
</div> 
<div style="background-color:white ; padding: 10px;">
  Message:<br />
  BackRub is written in Java and Python and runs on several Sun Ultras and Intel Pentiums running Linux. The primary database is kept on a Sun Ultra series II with 28GB of disk. Scott Hassan and Alan Steremberg have provided a great deal of very talented implementation help. Sergey Brin has also been very involved and deserves many thanks.
</div>

<br />
<h3>{{cars[1].year}} **Replace with third (and so on) standard**</h3> <!--Standard 3-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Average Rating: 38.8/10
</div> 
<br />
<!--Probably need to loop through whatever the variable will be to print every box-->
<!--Example 1-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Position: (position at company)<br />
  Years at company: (yrs at company) <br />
  Rating: (x/10)
</div> 
<div style="background-color: white ; padding: 10px;">
  Message:
  stuff <br />
  <span style="padding-left: 10px;"> stuff <br />
  <span style="padding-left: 20px;"> stuff <br />
  <span style="padding-left: 30px;"> stuff <br />
  <span style="padding-left: 40px;"> stuff 
</div>
<br />
<!--Example 2-->
<div style="background-color:rgb(231, 230, 230); padding: 10px;">
  Position: CEO<br />
  Years at company: 18 <br />
  Rating: 69/10
</div> 
<div style="background-color: white ; padding: 10px;">
  Message: <br />
  “In order to make our cars affordable, we have to get smarter about how we spend money,” Musk said. “This is a tough Game of Pennies, requiring thousands of good ideas to improve part cost, a factory process, or simplify the design while increasing quality and capabilities. A great idea would be one that saves $5, but the vast majority are $0.50 here or $0.20 there. In order to make the electric revolution happen, we must make electric cars, stationary batteries and solar affordable to all.”
</div>
<br />
<!--Example 3-->
<div style="background-color: rgb(231, 230, 230) ; padding: 10px;">
  Position: Co-founder<br />
  Years at company: 23 years <br />
  Rating: 8.5/10
</div> 
<div style="background-color: white ; padding: 10px;">
  Message:<br />
  BackRub is written in Java and Python and runs on several Sun Ultras and Intel Pentiums running Linux. The primary database is kept on a Sun Ultra series II with 28GB of disk. Scott Hassan and Alan Steremberg have provided a great deal of very talented implementation help. Sergey Brin has also been very involved and deserves many thanks.
</div>

<br />
<a href="/python">Go Back</a>