<head>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/index.css') }}">
</head>

<h1 id="main-header"> Diversify My Company</h1>
<ul id="menu-nav">
  <li class="menu-item"><a href="/">Main Page</a></li>
  <li class="menu-item"><a href="/python">Choose your Company</a></li>
  <li class="menu-item"><a href="/style">Submit a Review</a></li>
  <li class="menu-item"><a href="/database">Data</a></li>
  <li class="menu-item"><a href="/input">Input</a></li>
</ul>
<div>
  <p>Ensure that companies are held accountable to the Diversity, Equity, and Inclusion (DEI) Standards</p>
  <p>Find the overall rating and specific standard ratings of a company on how well they meet the DEI Standards.</p>
</div>

<div id="standards">
  <p>DEI Standards Include:</p>
  <ul>
    <li>Fair Treatment</li> 
    <li>Equal Access to Opportunity</li>
    <li>Collaboration</li>
    <li>Emphasis on Innovation</li>
    <li>Organizational Agility</li>
    <li>Conflict Resolution Processes</li>
    <li>Commitment to Inclusion</li>
    <li>Distribution of Diversity</li>
    <li>Cultural Competency Training</li>
  </ul>
</div>

<div>
  <p>Please feel free to leave a review to help others during their job serch and if you are currently 
  in a job search browse the reviews to make sure the company will be a good fit for you!</p>
</div>



