<head>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/index.css') }}">
</head>

<h1>Welcome to Diversify My Company!!!</h1>
<ul>
  <li><a href="/">Main Page</a></li>
  <li><a href="/python">Choose your Company</a></li>
  <li><a href="/style">Submit a Review</a></li>
  <li><a href="/database">Data</a></li>
</ul>
<p>This is a web app dedicated to ensuring Companies are held accountable to the Diversity 
  Standards they promised to their employees</p>
<p>Please feel free to leave a review to help others during their job serch and if you are currently 
  in a job search browse the reviews to make sure the company will be a good fit for you!</p>






